@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* prettier-ignore */
@font-face {
  font-family: "Inter Variable";
  src: url("../assets/fonts/inter/InterVariable.woff2") format("woff2-variations");
  font-weight: 100 900; /* Variable weight range */
  font-style: normal;
  font-display: swap;
  font-named-instance: "Regular";
  font-feature-settings:
    "cv01" 0, /* Alternate one */
    "cv02" 0, /* Open four */
    "cv03" 0, /* Open six */
    "cv04" 0, /* Open nine */
    "cv05" 1, /* Lowercase l with tail */
    "cv06" 0, /* Simplified u */
    "cv07" 0, /* German double-s */
    "cv08" 1, /* Upper-case I with serif */
    "cv09" 0, /* Flat top three */
    "cv10" 1, /* Capital G with spur */
    "cv11" 0, /* Single-storey a */
    "cv12" 0, /* Compact f */
    "cv13" 0, /* Compact t */
    "ss01" 0, /* Open Digits */
    "ss02" 0, /* Disambiguation with slashed zero */
    "ss03" 1, /* Round quotes & commas */
    "ss04" 0, /* Disambiguation without slashed zero */
    "cpsp" 1, /* Capital spacing */
    "tnum" 0, /* Tabular numbers */ 
    "calt" 1; /* Contextual alternates */
}

/* prettier-ignore */
@font-face {
  font-family: "Inter Variable";
  src: url("../assets/fonts/inter/InterVariable-Italic.woff2") format("woff2-variations");
  font-weight: 100 900; /* Variable weight range */
  font-style: italic;
  font-display: swap;
  font-named-instance: "Italic";
  font-feature-settings:
    "cv01" 0, /* Alternate one */
    "cv02" 0, /* Open four */
    "cv03" 0, /* Open six */
    "cv04" 0, /* Open nine */
    "cv05" 1, /* Lowercase l with tail */
    "cv06" 0, /* Simplified u */
    "cv07" 0, /* German double-s */
    "cv08" 1, /* Upper-case I with serif */
    "cv09" 0, /* Flat top three */
    "cv10" 1, /* Capital G with spur */
    "cv11" 0, /* Single-storey a */
    "cv12" 0, /* Compact f */
    "cv13" 0, /* Compact t */
    "ss01" 0, /* Open Digits */
    "ss02" 0, /* Disambiguation with slashed zero */
    "ss03" 1, /* Round quotes & commas */
    "ss04" 0, /* Disambiguation without slashed zero */
    "cpsp" 1, /* Capital spacing */
    "tnum" 0, /* Tabular numbers */ 
    "calt" 1; /* Contextual alternates */
}

/* JetBrains Mono - Code and Monospace Font */
/* prettier-ignore */
@font-face {
  font-family: "JetBrains Mono Variable";
  src: url("../assets/fonts/jetbrains-mono/JetBrainsMono[wght].ttf") format("truetype-variations");
  font-weight: 100 800; /* Variable weight range */
  font-style: normal;
  font-display: swap;
}

/* prettier-ignore */
@font-face {
  font-family: "JetBrains Mono Variable";
  src: url("../assets/fonts/jetbrains-mono/JetBrainsMono-Italic[wght].ttf") format("truetype-variations");
  font-weight: 100 800; /* Variable weight range */
  font-style: italic;
  font-display: swap;
}

@theme static {
  --font-sans: "Inter Variable", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono Variable", ui-monospace, "SF Mono", "Monaco", "Inconsolata", "Roboto Mono", monospace;

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
  --radius-2xl: 24px;

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-hover: var(--primary-hover);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-text: var(--destructive-text);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-success: var(--success);
  --color-success-text: var(--success-text);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-text: var(--warning-text);
  --color-warning-foreground: var(--warning-foreground);
  --color-info: var(--info);
  --color-info-text: var(--info-text);
  --color-info-foreground: var(--info-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  /* Charts */
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  /* Sidebar */
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* White */
  --color-white-100: var(--white-100);
  --color-white-200: var(--white-200);
  --color-white-300: var(--white-300);
  --color-white-400: var(--white-400);
  --color-white-500: var(--white-500);
  --color-white-600: var(--white-600);
  --color-white-700: var(--white-700);
  --color-white-800: var(--white-800);
  --color-white-900: var(--white-900);
  --color-white-1000: var(--white-1000);

  /* Black */
  --color-black-100: var(--black-100);
  --color-black-200: var(--black-200);
  --color-black-300: var(--black-300);
  --color-black-400: var(--black-400);
  --color-black-500: var(--black-500);
  --color-black-600: var(--black-600);
  --color-black-700: var(--black-700);
  --color-black-800: var(--black-800);
  --color-black-900: var(--black-900);
  --color-black-1000: var(--black-1000);

  /* Gray */
  --color-gray-100: var(--gray-100);
  --color-gray-200: var(--gray-200);
  --color-gray-300: var(--gray-300);
  --color-gray-400: var(--gray-400);
  --color-gray-500: var(--gray-500);
  --color-gray-600: var(--gray-600);
  --color-gray-700: var(--gray-700);
  --color-gray-800: var(--gray-800);
  --color-gray-900: var(--gray-900);
  --color-gray-1000: var(--gray-1000);

  /* Red */
  --color-red-100: var(--red-100);
  --color-red-200: var(--red-200);
  --color-red-300: var(--red-300);
  --color-red-400: var(--red-400);
  --color-red-500: var(--red-500);
  --color-red-600: var(--red-600);
  --color-red-700: var(--red-700);
  --color-red-800: var(--red-800);
  --color-red-900: var(--red-900);
  --color-red-1000: var(--red-1000);

  /* Purple */
  --color-purple-100: var(--purple-100);
  --color-purple-200: var(--purple-200);
  --color-purple-300: var(--purple-300);
  --color-purple-400: var(--purple-400);
  --color-purple-500: var(--purple-500);
  --color-purple-600: var(--purple-600);
  --color-purple-700: var(--purple-700);
  --color-purple-800: var(--purple-800);
  --color-purple-900: var(--purple-900);
  --color-purple-1000: var(--purple-1000);

  /* Blue */
  --color-blue-100: var(--blue-100);
  --color-blue-200: var(--blue-200);
  --color-blue-300: var(--blue-300);
  --color-blue-400: var(--blue-400);
  --color-blue-500: var(--blue-500);
  --color-blue-600: var(--blue-600);
  --color-blue-700: var(--blue-700);
  --color-blue-800: var(--blue-800);
  --color-blue-900: var(--blue-900);
  --color-blue-1000: var(--blue-1000);

  /* Green */
  --color-green-100: var(--green-100);
  --color-green-200: var(--green-200);
  --color-green-300: var(--green-300);
  --color-green-400: var(--green-400);
  --color-green-500: var(--green-500);
  --color-green-600: var(--green-600);
  --color-green-700: var(--green-700);
  --color-green-800: var(--green-800);
  --color-green-900: var(--green-900);
  --color-green-1000: var(--green-1000);

  /* Yellow */
  --color-yellow-100: var(--yellow-100);
  --color-yellow-200: var(--yellow-200);
  --color-yellow-300: var(--yellow-300);
  --color-yellow-400: var(--yellow-400);
  --color-yellow-500: var(--yellow-500);
  --color-yellow-600: var(--yellow-600);
  --color-yellow-700: var(--yellow-700);
  --color-yellow-800: var(--yellow-800);
  --color-yellow-900: var(--yellow-900);
  --color-yellow-1000: var(--yellow-1000);

  /* Orange */
  --color-orange-100: var(--orange-100);
  --color-orange-200: var(--orange-200);
  --color-orange-300: var(--orange-300);
  --color-orange-400: var(--orange-400);
  --color-orange-500: var(--orange-500);
  --color-orange-600: var(--orange-600);
  --color-orange-700: var(--orange-700);
  --color-orange-800: var(--orange-800);
  --color-orange-900: var(--orange-900);
  --color-orange-1000: var(--orange-1000);

  /* Brand */
  --color-brand-100: var(--brand-100);
  --color-brand-200: var(--brand-200);
  --color-brand-300: var(--brand-300);
  --color-brand-400: var(--brand-400);
  --color-brand-500: var(--brand-500);
  --color-brand-600: var(--brand-600);
  --color-brand-700: var(--brand-700);
  --color-brand-800: var(--brand-800);
  --color-brand-900: var(--brand-900);
  --color-brand-1000: var(--brand-1000);
}

/* Light mode core color palette */
:root {
  /* White */
  --white-100: rgba(255, 255, 255, 0.05);
  --white-200: rgba(255, 255, 255, 0.1);
  --white-300: rgba(255, 255, 255, 0.2);
  --white-400: rgba(255, 255, 255, 0.4);
  --white-500: rgba(255, 255, 255, 0.7);
  --white-600: rgba(255, 255, 255, 0.8);
  --white-700: rgba(255, 255, 255, 0.85);
  --white-800: rgba(255, 255, 255, 0.9);
  --white-900: rgba(255, 255, 255, 0.95);
  --white-1000: rgba(255, 255, 255, 1);

  /* Black */
  --black-100: rgba(12, 12, 13, 0.05);
  --black-200: rgba(12, 12, 13, 0.1);
  --black-300: rgba(12, 12, 13, 0.2);
  --black-400: rgba(12, 12, 13, 0.3);
  --black-500: rgba(12, 12, 13, 0.5);
  --black-600: rgba(12, 12, 13, 0.8);
  --black-700: rgba(12, 12, 13, 0.85);
  --black-800: rgba(12, 12, 13, 0.9);
  --black-900: rgba(12, 12, 13, 0.95);
  --black-1000: rgba(12, 12, 13, 1);

  /* Gray */
  --gray-100: #F6F6F6;
  --gray-200: #E7E7E7;
  --gray-300: #D8D8D8;
  --gray-400: #B2B2B2;
  --gray-500: #757575;
  --gray-600: #444444;
  --gray-700: #383838;
  --gray-800: #2C2C2D;
  --gray-900: #1F1F20;
  --gray-1000: #121213;

  /* Red */
  --red-100: #FEF5F5;
  --red-200: #FEE6E5;
  --red-300: #FDD7D5;
  --red-400: #FBB1AC;
  --red-500: #F8726A;
  --red-600: #F54135;
  --red-700: #C4362D;
  --red-800: #932B24;
  --red-900: #5B1E1B;
  --red-1000: #231111;

  /* Purple */
  --purple-100: #FAF6FF;
  --purple-200: #F1E7FF;
  --purple-300: #E9D8FF;
  --purple-400: #D4B4FF;
  --purple-500: #B277FF;
  --purple-600: #9747FF;
  --purple-700: #7A3BCC;
  --purple-800: #5D2E99;
  --purple-900: #3B205F;
  --purple-1000: #1A1225;

  /* Blue */
  --blue-100: #F2F7FF;
  --blue-200: #DEEBFF;
  --blue-300: #AACCFD;
  --blue-400: #97C1FE;
  --blue-500: #448FFD;
  --blue-600: #0267FC;
  --blue-700: #0454CA;
  --blue-800: #064198;
  --blue-900: #092B5E;
  --blue-1000: #0B1525;

  /* Green */
  --green-100: #F3FDF9;
  --green-200: #DFF9EF;
  --green-300: #CBF6E6;
  --green-400: #9AEDCD;
  --green-500: #49DEA5;
  --green-600: #09D286;
  --green-700: #0AA86D;
  --green-800: #0A7F53;
  --green-900: #0B4F36;
  --green-1000: #0C2019;

  /* Yellow */
  --yellow-100: #FFFCF4;
  --yellow-200: #FFF9E3;
  --yellow-300: #FFF5D2;
  --yellow-400: #FFEAA7;
  --yellow-500: #FFDA61;
  --yellow-600: #FFCD29;
  --yellow-700: #CCA423;
  --yellow-800: #997C1D;
  --yellow-900: #5F4E17;
  --yellow-1000: #241F10;

  /* Orange */
  --orange-100: #FFF9F5;
  --orange-200: #FEF0E5;
  --orange-300: #FEE6D4;
  --orange-400: #FDCFAC;
  --orange-500: #FBA869;
  --orange-600: #FA8934;
  --orange-700: #C86F2C;
  --orange-800: #965524;
  --orange-900: #5D371A;
  --orange-1000: #241911;

/* Brand */
--brand-100: var(--green-100);
--brand-200: var(--green-200);
--brand-300: var(--green-300);
--brand-400: var(--green-400);
--brand-500: var(--green-500);
--brand-600: var(--green-600);
--brand-700: var(--green-700);
--brand-800: var(--green-800);
--brand-900: var(--green-900);
--brand-1000: var(--green-1000);
}

/* Dark mode core color palette */
.dark {
  /* White */
  --white-100: rgba(255, 255, 255, 0.05);
  --white-200: rgba(255, 255, 255, 0.1);
  --white-300: rgba(255, 255, 255, 0.2);
  --white-400: rgba(255, 255, 255, 0.4);
  --white-500: rgba(255, 255, 255, 0.7);
  --white-600: rgba(255, 255, 255, 0.8);
  --white-700: rgba(255, 255, 255, 0.85);
  --white-800: rgba(255, 255, 255, 0.9);
  --white-900: rgba(255, 255, 255, 0.95);
  --white-1000: rgba(255, 255, 255, 1);

  /* Black */
  --black-100: rgba(12, 12, 13, 0.05);
  --black-200: rgba(12, 12, 13, 0.1);
  --black-300: rgba(12, 12, 13, 0.2);
  --black-400: rgba(12, 12, 13, 0.3);
  --black-500: rgba(12, 12, 13, 0.5);
  --black-600: rgba(12, 12, 13, 0.8);
  --black-700: rgba(12, 12, 13, 0.85);
  --black-800: rgba(12, 12, 13, 0.9);
  --black-900: rgba(12, 12, 13, 0.95);
  --black-1000: rgba(12, 12, 13, 1);

  /* Gray */
  --gray-100: #F6F6F6;
  --gray-200: #E7E7E7;
  --gray-300: #D8D8D8;
  --gray-400: #B2B2B2;
  --gray-500: #757575;
  --gray-600: #444444;
  --gray-700: #383838;
  --gray-800: #2C2C2C;
  --gray-900: #1F1F1F;
  --gray-1000: #121212;

  /* Red */
  --red-100: #FEF5F5;
  --red-200: #FEE6E5;
  --red-300: #FDD7D5;
  --red-400: #FBB1AC;
  --red-500: #F8726A;
  --red-600: #F54135;
  --red-700: #C4362D;
  --red-800: #932B24;
  --red-900: #5B1E1B;
  --red-1000: #231111;

  /* Purple */
  --purple-100: #FAF6FF;
  --purple-200: #F1E7FF;
  --purple-300: #E9D8FF;
  --purple-400: #D4B4FF;
  --purple-500: #B277FF;
  --purple-600: #9747FF;
  --purple-700: #7A3BCC;
  --purple-800: #5D2E99;
  --purple-900: #3B205F;
  --purple-1000: #1A1225;

  /* Blue */
  --blue-100: #F2F7FF;
  --blue-200: #DEEBFF;
  --blue-300: #AACCFD;
  --blue-400: #97C1FE;
  --blue-500: #448FFD;
  --blue-600: #0267FC;
  --blue-700: #0454CA;
  --blue-800: #064198;
  --blue-900: #092B5E;
  --blue-1000: #0B1525;

  /* Green */
  --green-100: #F3FDF9;
  --green-200: #DFF9EF;
  --green-300: #CBF6E6;
  --green-400: #9AEDCD;
  --green-500: #49DEA5;
  --green-600: #09D286;
  --green-700: #0AA86D;
  --green-800: #0A7F53;
  --green-900: #0B4F36;
  --green-1000: #0C2019;

  /* Yellow */
  --yellow-100: #FFFCF4;
  --yellow-200: #FFF9E3;
  --yellow-300: #FFF5D2;
  --yellow-400: #FFEAA7;
  --yellow-500: #FFDA61;
  --yellow-600: #FFCD29;
  --yellow-700: #CCA423;
  --yellow-800: #997C1D;
  --yellow-900: #5F4E17;
  --yellow-1000: #241F10;

  /* Orange */
  --orange-100: #FFF9F5;
  --orange-200: #FEF0E5;
  --orange-300: #FEE6D4;
  --orange-400: #FDCFAC;
  --orange-500: #FBA869;
  --orange-600: #FA8934;
  --orange-700: #C86F2C;
  --orange-800: #965524;
  --orange-900: #5D371A;
  --orange-1000: #241911;

  /* Brand */
  --brand-100: var(--green-100);
  --brand-200: var(--green-200);
  --brand-300: var(--green-300);
  --brand-400: var(--green-400);
  --brand-500: var(--green-500);
  --brand-600: var(--green-600);
  --brand-700: var(--green-700);
  --brand-800: var(--green-800);
  --brand-900: var(--green-900);
  --brand-1000: var(--green-1000);
}

:root {
  --radius: 0.625rem;

  --background: var(--white-1000);
  --foreground: var(--gray-1000);
  --card: var(--white-1000);
  --card-foreground: var(--gray-1000);
  --popover: var(--white-1000);
  --popover-foreground: var(--gray-1000);
  --primary: var(--brand-600);
  --primary-hover: var(--brand-700);
  --primary-foreground: var(--white-1000);
  --secondary: var(--gray-100);
  --secondary-hover: var(--gray-200);
  --secondary-foreground: var(--gray-900);
  --muted: var(--gray-200);
  --muted-hover: var(--gray-300);
  --muted-foreground: var(--gray-500);
  --accent: var(--gray-200);
  --accent-hover: var(--gray-300);
  --accent-foreground: var(--gray-900);
  --destructive: var(--red-600);
  --destructive-border: var(--red-500);
  --destructive-text: var(--red-700);
  --destructive-foreground: var(--white-1000);
  --success: var(--green-600);
  --success-border: var(--green-500);
  --success-text: var(--green-700);
  --success-foreground: var(--white-1000);
  --warning: var(--yellow-600);
  --warning-border: var(--yellow-500);
  --warning-text: var(--yellow-700);
  --warning-foreground: var(--gray-1000);
  --info: var(--blue-600);
  --info-border: var(--blue-500);
  --info-text: var(--blue-700);
  --info-foreground: var(--white-1000);
  --border: var(--gray-200);
  --input: var(--black-100);
  --ring: var(--brand-600);
  --chart-1: var(--green-600);
  --chart-2: var(--yellow-600);
  --chart-3: var(--orange-600);
  --chart-4: var(--purple-600);
  --chart-5: var(--blue-600);
  --sidebar: var(--gray-100);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);

  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 2px 4px -1px hsl(0 0% 0% / 0.10), 0 4px 8px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 4px 8px -2px hsl(0 0% 0% / 0.10), 0 8px 16px -4px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 4px 8px -2px hsl(0 0% 0% / 0.10), 0 8px 16px -4px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 12px 12px -4px hsl(0 0% 0% / 0.10), 0 20px 24px -4px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 24px 48px -12px hsl(0 0% 0% / 0.25);
  --shadow-2xl: 0 24px 48px -12px hsl(0 0% 0% / 0.25);

  /* --shadow-sm: 0 2px 4px -1px rgba(0, 0, 0, 0.05), 0 4px 8px -1px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 8px -2px rgba(0, 0, 0, 0.05), 0 8px 16px -4px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 12px 12px -4px rgba(0, 0, 0, 0.05), 0 20px 24px -4px rgba(0, 0, 0, 0.1);
  --shadow-xl: 0 24px 48px -12px rgba(0, 0, 0, 0.25); */
}

.dark {
  --background: var(--black-1000);
  --foreground: var(--white-900);
  --card: var(--gray-900);
  --card-foreground: var(--white-900);
  --popover: var(--gray-1000);
  --popover-foreground: var(--white-900);
  --primary: var(--brand-700);
  --primary-hover: var(--brand-800);
  --primary-foreground: var(--white-900);
  --secondary: var(--gray-800);
  --secondary-hover: var(--gray-700);
  --secondary-foreground: var(--white-900);
  --muted: var(--gray-800);
  --muted-hover: var(--gray-700);
  --muted-foreground: var(--gray-500);
  --accent: var(--gray-800);
  --accent-hover: var(--gray-700);
  --accent-foreground: var(--white-900);
  --destructive: var(--red-500);
  --destructive-border: var(--red-600);
  --destructive-text: var(--red-400);
  --destructive-foreground: var(--white-900);
  --success: var(--green-500);
  --success-border: var(--green-600);
  --success-text: var(--green-400);
  --success-foreground: var(--white-900);
  --warning: var(--yellow-500);
  --warning-border: var(--yellow-600);
  --warning-text: var(--yellow-400);
  --warning-foreground: var(--gray-1000);
  --info: var(--blue-500);
  --info-border: var(--blue-600);
  --info-text: var(--blue-400);
  --info-foreground: var(--white-900);
  --border: var(--gray-700);
  --input: var(--white-100);
  --ring: var(--brand-600);
  --chart-1: var(--green-500);
  --chart-2: var(--yellow-500);
  --chart-3: var(--orange-500);
  --chart-4: var(--purple-500);
  --chart-5: var(--blue-500);
  --sidebar: var(--gray-900);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);

  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.1);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.1);
  --shadow-sm: 0 2px 4px -1px hsl(0 0% 0% / 0.20), 0 4px 8px -1px hsl(0 0% 0% / 0.20);
  --shadow: 0 4px 8px -2px hsl(0 0% 0% / 0.20), 0 8px 16px -4px hsl(0 0% 0% / 0.20);
  --shadow-md: 0 4px 8px -2px hsl(0 0% 0% / 0.20), 0 8px 16px -4px hsl(0 0% 0% / 0.20);
  --shadow-lg: 0 12px 12px -4px hsl(0 0% 0% / 0.20), 0 20px 24px -4px hsl(0 0% 0% / 0.20);
  --shadow-xl: 0 24px 48px -12px hsl(0 0% 0% / 0.40);
  --shadow-2xl: 0 24px 48px -12px hsl(0 0% 0% / 0.40);

  /* --shadow-sm: 0 2px 4px -1px rgba(0, 0, 0, 0.05), 0 4px 8px -1px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 8px -2px rgba(0, 0, 0, 0.05), 0 8px 16px -4px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 12px 12px -4px rgba(0, 0, 0, 0.05), 0 20px 24px -4px rgba(0, 0, 0, 0.1);
  --shadow-xl: 0 24px 48px -12px rgba(0, 0, 0, 0.25); */
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Accordion animations */
@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

/* Collapsible animations */
@keyframes collapsible-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes collapsible-up {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}

@utility animate-accordion-down {
  animation: accordion-down 0.2s ease-out;
}

@utility animate-accordion-up {
  animation: accordion-up 0.2s ease-out;
}

@utility animate-collapsible-down {
  animation: collapsible-down 0.2s ease-out;
}

@utility animate-collapsible-up {
  animation: collapsible-up 0.2s ease-out;
}

/* Marquee animations */
@theme inline {
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}